.textArea {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    text-transform: uppercase;
}
.textItem {
    display: inline-block;
    color: #fff;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    } 20% {
        transform: translateY(-20px);
    } 40%,100% {
        transform: translateY(0px);
    }
}

.random-button {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.6s ease;
}
.random-button.hovered {
    transform: scale(1.1);
}